<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdd.ylz.modules.sys.dao.TPlattRoleMapper">

    <select id="getRoleList" resultType="com.gdd.ylz.modules.sys.dto.RoleReDTO">
        select * from t_platt_role where 1=1 and i_flag=1
        <if test="role.name!=null and role.name!=''">
            and name like concat('%',#{role.name},'%')
        </if>
    </select>

    <select id="getRoleDetail" resultType="com.gdd.ylz.modules.sys.dto.RoleReDTO">
        select * from t_platt_role where id=#{id}
    </select>


</mapper>
