<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdd.ylz.modules.timer.dao.SysTaskMapper">
 <select id="getListByPage" resultType="com.gdd.ylz.modules.timer.entity.SysTask">
     select * from sys_task where 1=1
     <if test="sysTask.jobName != null and sysTask.jobName != ''">
         and job_name like concat('%',#{sysTask.jobName},'%')
     </if>
 </select>

    <select id="checkExistJobName" resultType="int">
        select count(*) from sys_task where jobGroup=#{task.jobGroup} and jobName=#{task.jobName}
        <if test="task.id != null">
            and  id!=#{task.id}
        </if>

    </select>

    <select id="checkExistBeanName" resultType="int">
        select count(*) from sys_task where beanName=#{task.beanName} and methodName=#{task.methodName}
        <if test="task.id != null">
            and id!=#{task.id}
        </if>

    </select>
</mapper>
